.star-image {
  background-color: var(--Medium-Grey);
  padding: 0.5rem;
  border-radius: 50%;
}
.title {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}
.description {
  font-size: 0.8rem;
  color: var(--Medium-Grey);
  line-height: 1.3rem;
}
.numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.numbers-item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--Medium-Grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers-item:hover {
  background-color: var(--Orange);
  cursor: pointer;
}
.active {
  background-color: var(--Orange);
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  background-color: var(--Orange);
  border: none;
  border-radius: 20px;
  color: var(--White);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px;
}
.submit-btn:hover {
  background-color: var(--White);
  color: var(--Orange);
  opacity: 0.8;
}
